/* BRAND COLORS
 PRIMARY -
 SECONDARY -



 


------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  font-family: "Poppins", sans-serif;
  color: #1f233e;
}

.content-wrap {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

/*  TOP NAV
----------------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

nav ul {
  list-style: none;
}
.nav-items {
  display: flex;
}

.verti-nav {
  display: none;
}

.nav-items li {
  /* background-color: lime; */
  padding: 20px 0px;
}
.verti-nav {
  position: fixed;
  padding: 15px;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgb(251, 243, 243);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

nav i {
  padding-left: 5px;
}
.brandlogo {
  font-size: 3rem;
  color: #f58a65;
}
nav a {
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: #1f233e;
}

nav a p {
  font-size: 1.2rem;
  font-weight: 500;
}

nav a i {
  font-size: 4rem;
}

.horiz-nav {
  padding: 20px 0px;
}

/* DROPDOWN BOX  
----------------------------*/
.navbutton {
  min-width: 185px;
  padding: 15px 0px;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}

.dropdown-box {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 10px 0;
  margin-top: 21px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 20px #00000014;
}

/* Enables dropdown box */
.horiz-nav:hover .dropdown-box,
.side-drop:hover .dropdown-box {
  display: block;
}

.download-btn {
  background-color: #f58a65;
  border-radius: 35px;
}

.download-btn:hover {
  background-color: #ffa98b;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.nav-items li:nth-child(-n + 4) a:hover,
.dropdown-box a:hover {
  color: #f58a65;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

.download-btn p,
.download-btn i {
  color: white;
}

/*   HEADER COVER SECTION
---------------------------------------*/
.cover {
  width: 100%;
  min-height: 200px;
  background-color: #f7dcdb;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-icons {
  display: flex;
  flex-direction: row;
}

.cover-icons i {
  font-size: 2rem;
  padding-right: 50px;
}

.cover h1 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  margin-top: 100px;
  padding-bottom: 10px;
}
.cover p {
  padding-right: 50%;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

/*  RESPONSIVENESS
----------------------------------------*/

.menubutton {
  display: none;
}

@media (max-width: 1024px) {
  .horiz-nav {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .cover {
    align-items: center;
    justify-content: center;
  }
  .cover p {
    padding-right: 0;
    padding: 0 5%;
  }
}

@media (max-width: 450px) {
  .sidenav {
    width: 100%;
  }

  .verti-nav li {
    /* background-color: lime; */
    width: 100%;
  }
  .verti-nav li a {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .sidenav {
    display: none;
  }
}
