/* BRAND COLORS
 PRIMARY - #F58A65
 PRIMARY LIGHT - #F7DCDB
 PRIMARY LIGHT 2 - #FFF3F2
 PRIMARY DARK - #1F233E
 SECONDARY LIGHT - #81D4D9
 SECONDARY DARK - #123436





 


------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  background-color: #fff3f2;
}
body {
  /* min-height: 100vh; */
  font-family: "Poppins", sans-serif;
  color: #1f233e;
}

a {
  text-decoration: none;
}

.content-wrap {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}
h2 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 1rem + 6vw, 6rem);
  line-height: 0.8;
  padding-bottom: 10px;
}

/*  TOP NAV
----------------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

nav ul {
  list-style: none;
}
.nav-items {
  display: flex;
}

.verti-nav {
  display: none;
}

.nav-items li {
  /* background-color: lime; */
  padding: 20px 0px;
}
.verti-nav {
  position: fixed;
  padding: 15px;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgb(251, 243, 243);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

nav i {
  padding-left: 5px;
}
.brandlogo {
  font-size: 3rem;
  color: #f58a65;
}
nav a {
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: #1f233e;
}

nav a p {
  font-size: 1.2rem;
  font-weight: 500;
}

nav a i {
  font-size: 4rem;
}

.horiz-nav {
  padding: 20px 0px;
}

/* DROPDOWN BOX  
----------------------------*/
.navbutton {
  min-width: 185px;
  padding: 15px 0px;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}

.dropdown-box {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 10px 0;
  margin-top: 21px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 20px #00000014;
}

/* Enables dropdown box */
.horiz-nav:hover .dropdown-box,
.side-drop:hover .dropdown-box {
  display: block;
}

.download-btn {
  background-color: #f58a65;
  border-radius: 35px;
}

.download-btn:hover {
  background-color: #ffa98b;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.nav-items li:nth-child(-n + 4) a:hover,
.dropdown-box a:hover {
  color: #f58a65;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

.download-btn p,
.download-btn i {
  color: white;
}

/*   HEADER COVER SECTION
---------------------------------------*/
.cover {
  color: white;
  width: 100%;
  min-height: 600px;
  /* min-height: 600px; */
  /* height: calc(200px + 25vh); */
  background-image: url("../images/headerimage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  background-color: #f7dcdb;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cover-icons {
  display: flex;
  flex-direction: row;
}

.cover-icons i {
  font-size: clamp(20px, 0.7rem + 2vw, 2rem);
  padding-right: 50px;
}

.cover h1 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: clamp(16px, 1rem + 8vw, 8rem);

  padding-bottom: 10px;
}
.cover p {
  padding-right: 40%;
  font-weight: 300;
  /* font-size: 1.5rem; */
  font-size: clamp(10px, 0.5rem + 1.5vw, 1.5rem);
  line-height: 1.5;
  margin-bottom: 40px;
}

/* FIRST SECTION
----------------------------------------*/
.first-section {
  background-color: #f7dcdb;
  height: 500px;
  border-radius: 30px;
  margin-bottom: 100px;
}

/* SECOND SECTION 
----------------------------------------*/
.second-section {
  background-color: #1f233e;
  background-image: url(../images/line.svg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  min-height: 500px;
  padding: 200px 0px;
}

.sec-2 {
  display: flex;
  padding-bottom: 150px;
}
.card-det {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.card-det h2 {
  color: #f7dcdb;
  padding-bottom: 40px;
}

.card-det p {
  color: #f7dcdb;
  font-size: clamp(10px, 0.5rem + 1.2vw, 1.2rem);
  padding-right: 20%;
  line-height: 1.5;
}

.card-img {
  height: 500px;
  flex: 1;
  background-color: #f7dcdb;
  width: 100%;
  object-position: 50% 50%;

  border-radius: 50px;
  /* padding: 0 50px; */
  rotate: 1deg;
}

.sec2-2-det {
  padding-left: 10%;
}

/* SECOND SECT BUTTON 
------------------------*/

.btn-wrap {
  display: flex;
  justify-content: center;
}
.sec-btn {
  padding: 20px 30px;
  border-radius: 100px;
  background-color: #f7dcdb;
  border-style: none;
}

.sec-btn-link p {
  padding-left: 10px;
  text-wrap: nowrap;
}

.sec-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-btn-link i,
.sec-btn-link p {
  color: #1f233e;
  font-size: clamp(10px, 0.5rem + 1.2vw, 1.2rem);
}

/*  THIRD SECTION
----------------------------------------*/

.third-section {
  background-color: #81d4d9;
  background-image: url(../images/line2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  min-height: 200px;
  padding: 100px 0px;
}

.third-section .btn-wrap {
  display: flex;
  justify-content: left;
  margin: 0px;
}

.third-section .card-det {
  display: flex;
  justify-content: left;
}

.third-section .sec-2 {
  padding-bottom: 0px;
}

.third-section .card-det h2 {
  color: #123436;
  padding-bottom: 40px;
}

.third-section .card-det p {
  color: #123436;
}

.third-section .sec-btn {
  color: #81d4d9;
  background-color: #123436;
  margin-top: 50px;
}

.third-section .sec-btn p,
.third-section .sec-btn i {
  color: #81d4d9;
}

/*  FORTH SECTION
----------------------------------------*/
.forth-section {
  background-color: white;
  min-height: 200px;
  padding: 100px 0px;
}

.forth-section .card-det {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forth-section .sec-2 {
  padding-bottom: 0px;
}
.forth-section .card-det h2 {
  padding-bottom: 40px;
}

.forth-section .card-det p,
.forth-section .card-det h2 {
  color: #1f233e;
}

.forth-section .sec-btn {
  background-color: #f58a65;
  margin: 0px;
  margin-top: 30px;
}

.forth-section .sec-btn p,
.forth-section .sec-btn i {
  color: #1f233e;
  font-weight: 500;
}

.forth-section .card-det p {
  padding-right: 0%;
}

.fort-sec-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 30px;
}

.fort-sec-btns .btn-wrap {
  padding: 0px 5px;
}

/*  FOOTER SECTION
----------------------------------------*/

footer {
  background-color: #1f233e;
  color: #f7dcdb;
}

.footer-wrap a {
  color: #f7dcdb;
  font-weight: 300;
}

.footer-wrap {
  padding: 50px 0px;
}
h4 {
  font-size: clamp(15px, 0.5rem + 1.5vw, 1.5rem);
  padding-bottom: 40px;
}

.footer-links {
  padding-bottom: 70px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  width: 35%;
  justify-content: space-between;
}
.footer-icons a {
  font-size: clamp(20px, 0.7rem + 2vw, 2rem);
}

.ftr-flex {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.ftr-link-cards {
  padding-bottom: 40px;
  padding-right: 25px;
}

.ftr-link-cards li {
  padding-bottom: 30px;
  text-wrap: nowrap;
  font-size: clamp(10px, 0.5rem + 1vw, 1rem);
}

.ftr-bottom {
  border-top: 2px solid #f7dcdb35;
  padding-top: 50px;
}

.ftr-bottom p {
  font-size: clamp(8px, 0.5rem + 0.8vw, 0.8rem);
}

/*  RESPONSIVENESS
------------------------------------------------------- */

.menubutton {
  display: none;
}

@media (max-width: 1024px) {
  /* NAVIGATION
  ------------------------------------- */
  .horiz-nav {
    display: none;
  }

  .menubutton {
    display: block;
  }

  /* HEADER
    ------------------------------------- */

  .cover {
    align-items: center;
    justify-content: center;
    justify-content: end;
  }
  .cover p {
    padding-right: 0;
    padding: 0 5%;
    text-align: center;
  }

  .show-side-nav {
    display: flex;
  }

  .cover-icons {
    justify-content: space-between;
    width: 35vw;
  }

  .cover-icons i {
    padding-right: 0px;
  }
  /* FIRST SECTION
  ------------------------------------- */

  /* SECOND SECTION 
  ------------------------------------- */
  .sec-2 {
    flex-direction: column;
  }

  .card-img {
    flex: auto;
    margin-top: 50px;
  }

  .sec2-2-det {
    padding-left: 0;
  }

  .sec2-card2 {
    flex-direction: column-reverse;
  }
  /* FOOTER SECTION 
    ------------------------------------- */

  .ftr-flex {
    flex-wrap: wrap;
    justify-content: start;
  }

  .ftr-link-cards {
    min-width: 240px;
    padding-right: 20px;
  }
}

@media (max-width: 450px) {
  .sidenav {
    width: 100%;
  }

  .verti-nav li {
    /* background-color: lime; */
    width: 100%;
  }
  .verti-nav li a {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .sidenav {
    display: none;
    /* background-color: red; */
  }
}
