/* BRAND COLORS
 PRIMARY -
 SECONDARY -



 


------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  font-family: "Poppins", sans-serif;
  color: #1f233e;
}

.content-wrap {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

/*  TOP NAV
----------------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

nav ul {
  list-style: none;
}
.nav-items {
  display: flex;
}

.show-nav {
  display: none;
}

.show-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgb(251, 243, 243);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.show-nav {
  padding: 0 20px;
}

nav li {
  height: 60px;
}

nav i {
  padding-left: 5px;
}
.brandlogo {
  font-size: 3rem;
  color: #f58a65;
}
nav a {
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: #1f233e;
}

nav a p {
  font-size: 1.2rem;
  font-weight: 500;
}

nav a i {
  font-size: 4rem;
}

.download-btn {
  background-color: #f58a65;
  border-radius: 30px;
}

.download-btn:hover {
  background-color: #ffa98b;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.nav-items li:nth-child(-n + 4) a:hover {
  color: #f58a65;
  transition: 0.4s;
  transition-timing-function: ease-out;
}
.download-btn a {
  color: white;
}

/*   HEADER COVER SECTION
---------------------------------------*/
.cover {
  width: 100%;
  min-height: 200px;
  background-color: #f7dcdb;
  padding: 40px;
  border-radius: 30px;
}

.cover-icons {
  display: flex;
  flex-direction: row;
}

.cover-icons i {
  font-size: 2rem;
  padding-right: 30px;
}

.cover h1 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  margin-top: 100px;
  padding-bottom: 10px;
}
.cover p {
  padding-right: 50%;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

/*  RESPONSIVENESS
----------------------------------------*/

.menubutton {
  display: none;
}

@media (max-width: 1024px) {
  .hide-nav {
    display: none;
  }

  .menubutton {
    display: block;
  }
}

@media (max-width: 450px) {
  .sidenav {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .sidenav {
    display: none;
  }
}
